{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url("send_your_stuff_main") }}/styles/send_your_stuff.css">
{% endblock %}

{% block body %}

<div class="col-12">

  <div class="row">

    <div class="col-4 l-col">
      <img src="{{ url("send_your_stuff_main") }}/images/daniel-eledut-I59E5L3v1Ec-unsplash.jpg" alt="yellow biplane under blue sky during daytime photo">
    </div>

    <div class="jumbotron col-8 bg-transparent">
      <h1 class="display-3">Almost there !</h1>
      <p class="lead">Your file is available <a href="{{ url("send_your_stuff_main") }}uploads/{{ app.request.attributes.get('slug') }}">here</a>.</p>
      <p class="lead">Just click the above link or download button to open it.</p>
      <p class="lead">Wonder who we are ? Learn more about us <a href="{{ url("send_your_stuff_home") }}">here</a>.</p>
      <p class="lead">We hope that you enjoyed using our platform.</p>
      <hr class="my-4">
      <p>On behalf of the SendYourStuff team, all the best &#128640;</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url("send_your_stuff_main") }}uploads/{{ app.request.attributes.get('slug') }}" role=button>{{ app.request.attributes.get('slug') }}</a>
      </p>
    </div>

  </div>

</div>

{% endblock %}
